<div id="page" class="page p-3">

    


    <div class="row g-0">
        <div class="col-6">
            <div class="cubs paleta-240" style="height: 40px;" >
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-60" style="height: 40px;" >
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>

            <hr class="m-1">

            <div class="cubs paleta-0">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-120">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-240">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-60">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-180">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-300">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>

            <hr class="m-1">

            <!-- <details>
                <summary>Paleta colors</summary>
                <div> -->
                    @for (i of [].constructor(360); track i) {
                        <div [className]="'cubs paleta-' + $index">
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                        </div>
                    }
                <!-- </div>
            </details> -->
        </div>

        <!-- --- -->

        <div class="col-6" style="filter:grayscale(1)">
            <div class="cubs paleta-240" style="height: 40px;" >
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-60" style="height: 40px;" >
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>

            <hr class="m-1">

            <div class="cubs paleta-0">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-120">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-240">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-60">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-180">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>
            <div class="cubs paleta-300">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            </div>

            <hr class="m-1">

            <!-- <details>
                <summary>Paleta colors</summary>
                <div> -->
                    @for (i of [].constructor(360); track i) {
                        <div [className]="'cubs paleta-' + $index">
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                            <div>{{$index}}</div>
                        </div>
                    }
                <!-- </div>
            </details> -->
        </div>
    </div>

    




</div>
