@function crearColor($hue, $sat, $lum) {
    $lum: $lum * 10;

    $colorHSL: hsl($hue, $sat, $lum);

    // @return $colorHSL;

    // Convertir a RGB //
    $red: red($colorHSL);
    $green: green($colorHSL);
    $blue: blue($colorHSL);


    
    // Multiplicar per valors 0.298936021293775 * R + 0.587043074451121 * G + 0.114020904255103 * B //

    $multR: 0.298936021293775;
    $multG: 0.587043074451121;
    $multB: 0.114020904255103;

    // $red: $red * $multR;
    // $green: $green * $multG;
    // $blue: $blue * $multB;

    $lluminositatColor: ($red * $multR + $green * $multG + $blue * $multB) / 255 * 100;

    $factor: $lum / ($lluminositatColor + 0.000001);

    $red: $red * $factor;
    $green: $green * $factor;
    $blue: $blue * $factor;

    
    $colorRGB: rgb($red, $green, $blue);


    // limitar maxim 255
    // $lum: min(max($lum, 0), 100);
    // $lluminositatColor: min(max($lluminositatColor, 0), 100);
    
    // $res: $lum*$lum/($lluminositatColor - 0.000001);
    // $res: $lum*$lum/($lluminositatColor - 0.000001);
    
    // $res: min(max($res, 0), 100);

    // $luminosidadFinal: ($red * $multR + $green * $multG + $blue * $multB) / 255;

    // $lluminositatColor: ($lum*$lum)/($lluminositatColor + 0.000001);
    

    // Convertir a HSL //
    // $colorHSL: hsl(hue($colorRGB), saturation($colorRGB), lightness($colorRGB));
    // $colorHSL: hsl($hue, $sat, lightness($colorRGB));
    // $colorHSL: hsl($hue, saturation($colorRGB), lightness($colorRGB));
    $colorHSL: hsl($hue, $sat, lightness($colorRGB));
    // $colorHSL: hsl($hue, $sat, $lluminositatColor);

    

    // @return hsl($hue, 100%, $lightness * 100);
    @return $colorHSL;
}

// -----



.mostra-flotant {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: 10000;
}

.botons-opcions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 0.5rem;
    padding: 0.25rem;

    background-color: hsl(209, 10%, 27%);
    border-radius: 28px;

    button {
        padding: 0.5rem 1.5rem;
        font-size: 1.2rem;
        border: none;
        border-radius: 50rem;

        background-color: transparent;
        color: hsl(209, 100%, 96%);

        &.selected {
            background-color: hsl(209, 100%, 96%);
            color: hsl(209, 10%, 27%);
        }
    }
}

.blanc-i-negre {
    > div {
        > div:nth-child(1) { background-color: hsl(0, 0%, 0) !important; color: white !important; }
        > div:nth-child(2) { background-color: hsl(0, 0%, 10) !important; color: white !important; }
        > div:nth-child(3) { background-color: hsl(0, 0%, 20) !important; color: white !important; }
        > div:nth-child(4) { background-color: hsl(0, 0%, 30) !important; color: white !important; }
        > div:nth-child(5) { background-color: hsl(0, 0%, 40) !important; color: white !important; }
        > div:nth-child(6) { background-color: hsl(0, 0%, 50) !important; color: white !important; }
        > div:nth-child(7) { background-color: hsl(0, 0%, 60) !important; color: white !important; }
        > div:nth-child(8) { background-color: hsl(0, 0%, 70) !important; color: white !important; }
        > div:nth-child(9) { background-color: hsl(0, 0%, 80) !important; color: black !important; }
        > div:nth-child(10) { background-color: hsl(0, 0%, 90) !important; color: black !important; }
        > div:nth-child(11) { background-color: hsl(0, 0%, 100) !important; color: black !important; }
    }
}

.page {

    background-color: rgb(79, 79, 79);
    color: white;
    backdrop-filter: blur(20px);

    font-size: 15px;
    
    padding: 9rem 1rem 1rem;

    // Grayscale second section //
    .row > section:nth-child(even) {
        filter: grayscale(1);
    }

    .explicacio {
        font-size: 20px;

        a {
            color: #5fc2ff;
        }
    }
}
.cubs {
    display: flex;
    flex-wrap: wrap;
    
    height: 20px;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;

        // padding: 0.5rem;

        width: 9.09%;



        &:nth-child(1) { background-color: var(--color-0);   color: var(--color-9) }
        &:nth-child(2) { background-color: var(--color-1);   color: var(--color-9) }
        &:nth-child(3) { background-color: var(--color-2);   color: var(--color-9) }
        &:nth-child(4) { background-color: var(--color-3);   color: var(--color-9) }
        &:nth-child(5) { background-color: var(--color-4);   color: var(--color-9) }
        &:nth-child(6) { background-color: var(--color-5);   color: var(--color-9) }
        &:nth-child(7) { background-color: var(--color-6);   color: var(--color-9) }
        &:nth-child(8) { background-color: var(--color-7);   color: var(--color-9) }
        &:nth-child(9) { background-color: var(--color-8);   color: var(--color-4) }
        &:nth-child(10) { background-color: var(--color-9);  color: var(--color-4) }
        &:nth-child(11) { background-color: var(--color-10); color: var(--color-4) }

        // generate-color(60, "color", );


    }
}
.explicacio-fletxa {
    font-size: 2.5rem;
    padding: 1rem;

    .fletxa {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        font-size: 5rem;
    }
}



.autocalculated {
    @for $hue from 0 through 360 {
        .paleta-#{$hue} {
            @for $lum from 0 through 10 {
                --color-#{$lum}: #{crearColor($hue, 100, $lum)};
                // --color-#{$lum}: lch(#{$lum*10} 255 #{$hue});
                // --color-#{$lum}: hsv(#{$hue}, 100%, #{$lum*10});
            }
        }
    }
}
.hardcoded {
    @for $hue from 0 through 360 {
        .paleta-#{$hue} {
    
            @if ($hue > 330 and $hue <= 360 or $hue >= 0 and $hue <= 30) {
                // 0 //
                --color-0: hsl(#{$hue}, 100%, 0%);
                --color-1: hsl(#{$hue}, 100%, 23%);
                --color-2: hsl(#{$hue}, 100%, 47%);
                --color-3: hsl(#{$hue}, 100%, 55%);
                --color-4: hsl(#{$hue}, 100%, 62%);
                --color-5: hsl(#{$hue}, 100%, 68%);
                --color-6: hsl(#{$hue}, 100%, 75%);
                --color-7: hsl(#{$hue}, 100%, 81%);
                --color-8: hsl(#{$hue}, 100%, 87%);
                --color-9: hsl(#{$hue}, 100%, 94%);
                --color-10: hsl(#{$hue}, 100%, 100%);
            }
            @if ($hue > 30 and $hue <= 90) {
                // 60 //
                --color-0: hsl(#{$hue}, 100%, 0%);
                --color-1: hsl(#{$hue}, 100%, 5%);
                --color-2: hsl(#{$hue}, 100%, 11%);
                --color-3: hsl(#{$hue}, 100%, 16%);
                --color-4: hsl(#{$hue}, 100%, 22%);
                --color-5: hsl(#{$hue}, 100%, 27%);
                --color-6: hsl(#{$hue}, 100%, 32%);
                --color-7: hsl(#{$hue}, 100%, 38%);
                --color-8: hsl(#{$hue}, 100%, 43%);
                --color-9: hsl(#{$hue}, 100%, 49%);
                --color-10: hsl(#{$hue}, 100%, 100%);
            }
            @if ($hue > 90 and $hue <= 150) {
                // 120 //
                --color-0: hsl(#{$hue}, 100%, 0%);
                --color-1: hsl(#{$hue}, 100%, 7%);
                --color-2: hsl(#{$hue}, 100%, 14%);
                --color-3: hsl(#{$hue}, 100%, 21%);
                --color-4: hsl(#{$hue}, 100%, 28%);
                --color-5: hsl(#{$hue}, 100%, 35%);
                --color-6: hsl(#{$hue}, 100%, 42%);
                --color-7: hsl(#{$hue}, 100%, 49%);
                --color-8: hsl(#{$hue}, 100%, 66%);
                --color-9: hsl(#{$hue}, 100%, 84%);
                --color-10: hsl(#{$hue}, 100%, 100%);
            }
            @if ($hue > 150 and $hue <= 210) {
                // 180 //
                --color-0: hsl(#{$hue}, 100%, 0%);
                --color-1: hsl(#{$hue}, 100%, 6%);
                --color-2: hsl(#{$hue}, 100%, 13%);
                --color-3: hsl(#{$hue}, 100%, 19%);
                --color-4: hsl(#{$hue}, 100%, 25%);
                --color-5: hsl(#{$hue}, 100%, 32%);
                --color-6: hsl(#{$hue}, 100%, 38%);
                --color-7: hsl(#{$hue}, 100%, 45%);
                --color-8: hsl(#{$hue}, 100%, 53%);
                --color-9: hsl(#{$hue}, 100%, 76%);
                --color-10: hsl(#{$hue}, 100%, 100%);
            }
            @if ($hue > 210 and $hue <= 270) {
                // 240 //
                --color-0: hsl(#{$hue}, 100%, 0%);
                --color-1: hsl(#{$hue}, 100%, 51%);
                --color-2: hsl(#{$hue}, 100%, 57%);
                --color-3: hsl(#{$hue}, 100%, 62%);
                --color-4: hsl(#{$hue}, 100%, 68%);
                --color-5: hsl(#{$hue}, 100%, 73%);
                --color-6: hsl(#{$hue}, 100%, 78%);
                --color-7: hsl(#{$hue}, 100%, 84%);
                --color-8: hsl(#{$hue}, 100%, 89%);
                --color-9: hsl(#{$hue}, 100%, 95%);
                --color-10: hsl(#{$hue}, 100%, 100%);
            }
            @if ($hue > 270 and $hue <= 330) {
                // 300 //
                --color-0: hsl(#{$hue}, 100%, 0%);
                --color-1: hsl(#{$hue}, 100%, 17%);
                --color-2: hsl(#{$hue}, 100%, 35%);
                --color-3: hsl(#{$hue}, 100%, 51%);
                --color-4: hsl(#{$hue}, 100%, 58%);
                --color-5: hsl(#{$hue}, 100%, 65%);
                --color-6: hsl(#{$hue}, 100%, 72%);
                --color-7: hsl(#{$hue}, 100%, 79%);
                --color-8: hsl(#{$hue}, 100%, 86%);
                --color-9: hsl(#{$hue}, 100%, 93%);
                --color-10: hsl(#{$hue}, 100%, 100%);
            }
            --accent-color: hsl(#{$hue}, 100%, 50%);
        }
    }
}
.portfolio {

}
